table {
  border-radius: 30px;
  background-color: antiquewhite;
  thead {
    background-color: #92140c;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.courses-display {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.course-form {
    margin-top: 5em;
    margin-right: 15em;
  form {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
.title {
  color: #92140c;
}
