.courses-page {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  h3 {
    font-size: 2.5rem;
    margin-bottom: 0.3em;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}


.course-form {
  margin-top: 2em;
  width: 50%;

  h2 {
    margin-bottom: 0.5em;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;

    input {
      display: block;
      padding: 1em;
      padding-right: 3em;
      margin-top: 1em;
      border-radius: 12px;
    }
  }
}


.add-btn {
  margin: 2em auto;
  background-color: var(--secondary_color);
  color: white;
  border-radius: 15px;
  padding: 1em 4em;
  border-color: transparent;

  &:hover {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }
}

.errorMsg {
  color: red;
}