<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>
    <link rel="icon" th:href="@{/images/school.svg}" />
    <link rel="stylesheet" th:href="@{/css/course.css}" />
  </head>
  <body>
    <header>
      <h1>List of courses</h1>
    </header>
    <main>
      <h2 th:if="${#lists.isEmpty(courses)}">No courses</h2>
      <table th:unless="${#lists.isEmpty(courses)}">
        <thead>
          <tr>
            <th>Sigle</th>
            <th>Title</th>
            <th>ECTS</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="course :${courses}">
            <td>
              <a
                th:href="@{/courses/{course}(course = ${course.sigle})}"
                th:text="${course.sigle}"
              ></a>
            </td>
            <td>
              <a
                th:href="@{/courses/{course}(course = ${course.sigle})}"
                th:text="${course.title}"
              ></a>
            </td>
            <td th:text="${course.etc}"></td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
