<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="icon" th:href="@{/images/home.svg}" type="images/x-icon" />
  <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>

<body>
  <main layout:fragment="content">
    <div class="welcome-msg">

      <p class="welcome-subtitle">🌟 Welcome to The Ultimate Student Program! 🌟
      </p>
      <p>
        Congratulations on embarking on a journey of growth, learning, and endless possibilities! This program is
        designed
        to equip you with the skills, knowledge, and experiences needed to shape your future.

        Get ready to connect, innovate, and challenge yourself as you take part in inspiring sessions, hands-on
        activities, and valuable networking opportunities.

        Your journey to success starts here. Let’s make it ultimate! 🚀</p>
    </div>
  </main>
</body>

</html>