<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="icon" th:href="@{/images/home.svg}" type="images/x-icon" />
    <link rel="stylesheet" th:href="@{/css/home.css}">
  </head>
  <body>
    <header>
      <h1 class="title">Annual Student Program</h1>
      <nav class="menu">
        <ul>
            <li>
                <a href="./"><img th:src="@{/images/home.svg}"></a>
            </li>
            <li>
                <a th:href="@{/courses}">Courses</a>
            </li>
        </ul>
      </nav>
    </header>
    <main>
      <p>Welcome to the annual student program</p>
    </main>
  </body>
</html>
