<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="icon" th:href="@{/images/home.svg}" type="images/x-icon" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <header>
      <h1 class="title">Annual Student Program</h1>
      <nav class="menu">
        <ul>
          <li>
            <a href="./"><img th:src="@{/images/home.svg}" /></a>
          </li>
          <li>
            <a th:href="@{/courses}">Courses</a>
          </li>
        </ul>
      </nav>
    </header>
    <main layout:fragment="content">

    </main>
  </body>
</html>
